<div class="p-3">
    <h2>{{listTitle}}</h2>
    <ul class="list-group list-group-flush">
        {{#each products}}
        <li class="list-group-item">
            {{this.title}}
        </li>
        {{/each}}
    </ul>
</div>