<div class="p-3">
    <h2>{{listTitle}}</h2>
    <ul id="listProducts" class="list-group list-group-flush">
       
    </ul>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>